<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="General">
      <section name="StateConfig" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>

    <sectionGroup name="LocalizationConfig">
      <section name="Provider" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>

    <sectionGroup name="SecurityConfig">
      <section name="AuthorizationProvider" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>

    <sectionGroup name="DALConfig">
      <section name="Concurrency" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="Action" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="KeyProviders" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="Handlers" type="Leaf.Dal.Config.DBHandlerConfigHandler,Leaf.Dal.Common" />
      <section name="Facade" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>

    <sectionGroup name="BLConfig">
      <section name="SchemaSource" type="System.Configuration.SingleTagSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="General" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
      <section name="LOV" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>

    <sectionGroup name="Encryption">
      <section name="Settings" type="System.Configuration.NameValueSectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null" />
    </sectionGroup>

  </configSections>

  <General>
    <StateConfig Assembly="Leaf.State.Win.dll" />
  </General>


  <DALConfig>
    <Facade Assembly="Timesheet.Dal.dll" />
    <Concurrency>
      <add key="DefaultLevel" value="SimpleCheck" />
      <!-- Leaf.Dal.DBLayer.ConcurrencyLevel -->
      <add key="TimestampColumnName" value="" />
    </Concurrency>
    <Action>
      <add key="Assembly" value="Timesheet.DAL.dll" />
      <add key="Namespace" value="Timesheet.DAL.Actions" />
      <add key="CompiledXSD" value="true" />
      <add key="IsolationLevel" value="RepeatableRead" />
      <!-- Leaf.Dal.DBLayer.IsolationLevel -->
      <add key="DefaultUpdateFieldsMode" value="ChangedFields" />
    </Action>
    <KeyProviders>
      <add key="IdentityKeyProvider" value="Leaf.Dal.DBLayer.SqlServer.IdentityKeyProvider,Leaf.Dal.DBLayer.SqlServer.dll" />
      <add key="SequenceKeyProvider" value="Leaf.Dal.DBLayer.Oracle.SequenceKeyProvider,Leaf.Dal.DBLayer.Oracle.dll" />
      <add key="EmptyKeyProvider" value="Leaf.Dal.DBLayer.EmptyKeyProvider,Leaf.Dal.Common.dll" />
      <add key="Default" value="Leaf.Dal.DBLayer.SqlServer.IdentityKeyProvider,Leaf.Dal.DBLayer.SqlServer.dll" />
    </KeyProviders>
    <Handlers>
      <Handler id="default">
        <Assembly>Leaf.Dal.DBLayer.SqlServer.dll</Assembly>
        <ConnectionString>Integrated Security=true;Persist Security Info=True;Initial Catalog=Timesheet;Data Source=.;</ConnectionString>
        <KeepOpen>False</KeepOpen>
        <!-- <EncryptedConnectionString>True</EncryptedConnectionString> -->
        <!-- <UsedEncryption>TripleDesWithHash</UsedEncryption> -->
        <!-- <UsedEncryption>None</UsedEncryption> -->
      </Handler>
    </Handlers>
  </DALConfig>

  <LocalizationConfig>
    <Provider>
      <add key="Assembly" value="Leaf.Localization.ResourceMessages.dll" />
      <add key="BaseName" value="Timesheet.Resource.Timesheet" />
      <add key="Path" value="Embedded Resource" />
    </Provider>
  </LocalizationConfig>

  <SecurityConfig>
    <AuthorizationProvider>
      <add key="Assembly" value="Leaf.Process.Mock.Security.dll" />
    </AuthorizationProvider>
  </SecurityConfig>

  <BLConfig>
    <SchemaSource type="Xsd" />
    <!-- "Xsd", "Attributed" -->
    <General>
      <add key="ProjectBusinessAssembly" value="Timesheet.BL.dll" />
      <add key="BusinessFactoryName" value="Timesheet.BL.BusinessFactory" />
    </General>
    <LOV>
      <add key="Assembly" value="" />
    </LOV>
  </BLConfig>

  <Encryption>
    <Settings>
      <!-- Possible Values: see Leaf.Encryption. -->
      <add key="DefaultEncryptor" value="None" />
      <!-- Can contain a value when the TripleDesHashKey is used, but can also be passed as parameter to the decrypt and encrypt method -->
      <add key="DefaultTripleDesHashKey" value="Syed Moshiur Murshed" />
      <!-- The assembly name of the EncryptionProvider -->
      <add key="ProviderAssembly" value="Leaf.Encryption.dll" />
      <!-- The full name of the EncryptionProvider Class-->
      <add key="ProviderFullClassName" value="Leaf.Encryption.EncryptionProvider" />
    </Settings>
  </Encryption>

  <appSettings>

    <add key="LogDataBaseSelects" value="false"/>

  </appSettings>


</configuration>

